body {
  padding: 0;
  margin: 0;
  background-color: #f7f7f7;
  border-radius: 10px;
  /* font-family: Tahoma, Geneva, sans-serif; */
}
.panel {
  background-color: #fff;
  padding: 20px 10px;
  margin: 10px auto;
  border-radius: 5px;
  width: 96%;

  box-shadow:
    0 8px 8px rgba(115, 114, 114, 0.1),
    0 0 8px rgba(75, 75, 75, 0.1);
}
